.article
	&-swiper
		padding: 62px 0 60px
		background: $light
		&__lead
			font-style: normal
			font-weight: normal
			font-size: 18px
			line-height: 30px
			margin-bottom: 44px
		&__tagline
			margin-top: 0
			margin-bottom: 0px
			&::first-letter
				margin-top: 8px
				margin-right: 10px
				margin-left: -7px
				float: left
				font-weight: 900
				font-size: 100px
				line-height: 75px
				color: #4592FF
		&__text
			margin-top: 0
			margin-bottom: 30px
			font-style: normal
			font-weight: normal
			font-size: 18px
			line-height: 30px
			&--mb0
				margin-bottom: 60px
			&--mb80
				margin-bottom: 80px
			&-box
				max-width: 622px
				position: relative
		&__title
			margin-top: 0
			margin-bottom: 30px
			font-family: Roboto Slab
			font-style: normal
			font-weight: bold
			font-size: 25px
			line-height: 30px
			color: $tertiary
		&__user
			position: absolute
			top: -162px
			right: 0
			display: flex
			flex-direction: column
			align-items: center
			width: 263px
			height: 298px
			border: 1px solid
			color: #d9dadb
			background-color: $light
			border-radius: 10px
			&-avatar
				width: 90px
				height: 90px
				object-fit: cover
				border-radius: 50%
			&-info
				display: flex
				flex-direction: column
				align-items: center
				justify-content: space-between
				width: 100%
				height: 100%
				padding: 35px 25px 20px
			&-name
				font-family: Roboto Slab
				font-style: normal
				font-weight: bold
				font-size: 20px
				line-height: 25px
				color: $tertiary
			&-work
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 20px
				color: #4B5157
			&-stats
				font-style: normal
				font-weight: 900
				font-size: 14px
				line-height: 20px
				color: $tertiary
			&-link
				font-style: normal
				font-weight: 900
				font-size: 14px
				line-height: 20px
				text-decoration: none
				color: $tertiary
			&-page
				width: 100%
				padding: 15px 0
				text-align: center
				border-top: 1px solid #d9dadb
		&__slider
			&-image
				object-fit: cover
			&-block
				display: flex
				align-items: center
				justify-content: space-between
				margin-bottom: 45px
				border: 1px solid	#d9dadb
				border-top: none
				border-radius: 0 0 10px 10px
			&-text
				padding: 0 35px
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 20px
				color: $medium-dark
			&-user
				display: flex
				align-items: center
				justify-content: flex-start
				width: 262px
				padding: 12px 0 13px 30px
				border-left: 1px solid #d9dadb
			&-avatar
				border-radius: 50%
				margin-right: 10px
			&-info
				display: flex
				flex-direction: column
			&-name
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 20px
				color: $medium-dark
			&-work
				font-style: normal
				font-weight: normal
				font-size: 12px
				line-height: 15px
				color: $comment-text-color
		&__quote
			position: relative
			margin-bottom: 45px
			font-family: Roboto Slab
			font-style: normal
			font-weight: bold
			font-size: 25px
			line-height: 30px
			color: $tertiary
			&-image
				position: absolute
				z-index: -1
				top: -20px
				left: -20px
		&__swiper
			&-container
				height: 555px
				border-radius: 10px 10px 0 0
		&__button
			&-arrow
				position: relative
				width: 60px
				height: 60px
				z-index: 100
				cursor: pointer
			&-prev
				position: absolute
				top: 44.5%
				left: 35px
			&-next
				position: absolute
				top: 44.5%
				right: 35px
		&__sidebar
			position: absolute
			top: 133px
			right: 0
			display: flex
			flex-direction: column
			width: 263px
			&-title
				margin-top: 0
				font-family: Roboto Slab
				font-style: normal
				font-weight: bold
				font-size: 20px
				line-height: 25px
				color: $tertiary
			&-image
				width: 263px
				height: 180px
				margin-bottom: 15px
				border-radius: 10px
			&-subtitle
				max-width: 185px
				margin-top: 0
				margin-bottom: 6px
				font-family: Roboto Slab
				font-style: normal
				font-weight: bold
				font-size: 16px
				line-height: 25px
				text-decoration: none
				color: $tertiary
			&-text
				margin-top: 0
				margin-bottom: 19px
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 20px
				color: $medium-dark
			&-action
				display: flex
			&-watch
				width: 15px
				height: 10px
				margin-right: 5px
			&-comment
				margin-right: 6px
			&-num
				margin-right: 10px
				font-style: normal
				font-weight: normal
				font-size: 12px
				line-height: 15px
				color: $comment-text-color
		&__tags
			&-splitter
				width: 653px
				height: 1px
				background: #d9dadb
			&-wrapper
				padding: 13px 0 55px
			&-link
				display: inline-block
				padding: 5px 15px
				margin-right: 3px
				font-style: normal
				font-weight: 900
				font-size: 14px
				line-height: 20px
				text-decoration: none
				border: 1px solid #d9dadb
				border-radius: 5px
				color: $tertiary
		&__repost
			padding: 32px 0 40px
			&-title
				margin-top: 0
				font-family: Roboto Slab
				font-style: normal
				font-weight: bold
				font-size: 25px
				line-height: 30px
				color: $tertiary
			&-buttons
				display: flex
				flex-direction: row
			&-button
				display: flex
				flex-direction: row
				align-items: center

				// width: 130px
				height: 40px
				padding: 10px 21px
				margin-right: 14px
				font-style: normal
				font-weight: 900
				font-size: 14px
				line-height: 20px
				text-decoration: none
				color: $light
				background: $primary
				border-radius: 20px
			&-image
				margin-right: 10px
				width: 18px
				height: 18px
			&-num
				margin-left: 8px
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 20px
				&--like
					color: #ffc4c9
				&--face
					color: #bbc6ff
				&--twitt
					color: #c5e4fc
