.footer
	padding: 60px 0 55px
	&__wrapper
		display: grid
		grid-template-rows: repeat(4, 1fr)
		grid-template-columns: repeat(6, 1fr)
.footer
	&__newsletter
		grid-column: 1 / 7
		&-title
		&-form
	&-input

	&-button

	&__info
		// grid-row: 2
		grid-column: 1 / 7
	&__news

	&__title

	&__link

	&__articles

	&__videos

	&__courses

	&__information

	&__categiories

	&__contacts
		// grid-row: 3
		grid-column: 1 / 7
	&__copyright
		// grid-row: 4
		grid-column: 1 / 7
