.hero
	padding: 30px 0 15px
	background: linear-gradient(0deg, #E5E5E5 24.55%, #262D33 24.55%,)
	&-wrapper
		display: flex
		min-height: 570px
		background-color: #fff
	&__content
		position: relative
		width: 877px
		background-image: url(../img/bg-hero.jpg)
		background-size: cover
		&-image
			position: absolute
