.preview
	display: flex
	align-items: center
	text-align: center
	padding: 50px 0 55px
	background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35)), url(../img/bg-preview.jpg)
	&__title
		max-width: 946px
		margin-top: 0
		margin-bottom: 25px
		font-family: Roboto Slab
		font-style: normal
		font-weight: bold
		font-size: 40px
		line-height: 50px
		color: $light
	&__button
		max-width: 160px
		padding: 0 20px
		border: none
